body{
    text-align: center;
    margin: auto;
    /* color: white; */
    box-sizing: border-box;
  


}

.btn{
    width: 10rem;
    height: 10rem;
    border: 5px solid black;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
  
}
.line-two{
    margin: 1rem;
}
.box-container{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    margin: auto;
    margin-top: 2rem;
    border-radius: 50%;
    padding: 5rem;
    width:530px;
    height: 530px;
    background-color: rgba(7, 7, 7, 0.98);
}
.red{
    background-color: rgb(255, 20, 20);
}
.green{
    background-color: rgb(8, 253, 77);
}
.yellow{
    background-color: rgb(252, 252, 34);

}
.blue{
    background-color: rgb(17, 152, 248);
}
.flash{
    background-color: aliceblue;
}